/* Définition des couleurs et polices de base */
:root {
  --primary-color: #007acc;
  /* --background-color: #f0f2f5; */
  --background-color: black;
  --text-color: whitesmoke;
  --text-color-light: #666;
  --card-bg-color: #fff;
}

/* Styles global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Styles de base */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--text-color);
  opacity: 0;
  transform: translateY(40px);
  animation: fadeIn 0.5s ease forwards;
}

header {
  margin-top: 20px;
  text-align: center;
}

h1 {
  color: var(--text-color);
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#profiles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  max-width: 1200px;
}

/* Carte de profil */
.profile-card {
  position: relative;
  width: 240px;
  height: 350px;
  border-radius: 12px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.profile-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 24px rgba(0, 150, 255, 0.3), 0 8px 24px rgba(0, 0, 0, 0.2);
}

.profile-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, transparent 60%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: opacity 0.3s;
  opacity: 0;
}

.profile-card:hover::before {
  opacity: 1;
}

.profile-card:hover {
  cursor: pointer;
}


/* Image de profil */
.profile-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 15px;
  border: 3px solid var(--primary-color);
}

/* Informations du profil */
.profile-card h3 {
  color: var(--primary-color);
  margin: 10px 0 5px;
  font-size: 1.2rem;
  font-weight: 700;
}

.profile-card p {
  color: var(--text-color-light);
  font-size: 0.9em;
  margin: 0 15px;
  min-height: 50px;
}

/* Liste des compétences */
.profile-card .skills {
  display: inline-block;
  font-size: 0.9em;
  color: var(--text-color);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;

  border-radius: 5px;
  /* min-height: 50px; */
  min-height: 50px;
}

/* Lien GitHub */
.profile-card a {
  display: inline-flex;
  margin: 10px 0;
  padding: 8px 15px;
  font-size: 0.9em;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s ease, transform 0.3s, box-shadow 0.3s;
}

.profile-card a:hover {
  background-color: #005fa3;
  color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}


.profile-card a i {
  font-size: 1.2em;
}

/* Pagination */
.pagination-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination-button {
  padding: 10px 15px;
  border: none;
  background-color: var(--background-color);
  color: var(--primary-color);
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s;
  border: solid 1px var(--primary-color);
}

.pagination-button.active {
  background-color: var(--primary-color);
  color: var(--card-bg-color);
}

.pagination-button:hover:not(.active) {
  background-color: var(--background-color);
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}