/* Définition des couleurs et polices de base */
:root {
  --primary-color: #0069cc;
  --text-light: #fff;
  --text-color: #2d2d2d;
  --text-color-light: #666;
}

/* Styles global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Styles de base */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--text-light);

  opacity: 0;
  transform: translateY(40px);
  animation: fadeIn 0.5s ease forwards;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./assets/cover.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

header {
  margin-top: 20px;
  text-align: center;
}

h1 {
  color: var(--text-light);
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#profiles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  max-width: 1200px;
}

/* Carte de profil */
.profile-card {
  width: 240px;
  height: 350px;
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--text-light);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.profile-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}


/* Image de profil */
.profile-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 15px;
  border: 3px solid var(--primary-color);
}

/* Informations du profil */
.profile-card h3 {
  color: var(--primary-color);
  margin: 10px 0 5px;
  font-size: 1.2rem;
  font-weight: 700;
}

.profile-card p {
  color: var(--text-color-light);
  font-size: 0.9em;
  margin: 0 15px;
  min-height: 50px;
}

/* Liste des compétences */
.profile-card .skills {
  display: inline-block;
  font-size: 0.9em;
  color: var(--text-color);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;

  border-radius: 5px;
  /* min-height: 50px; */
  min-height: 50px;
}

/* Lien GitHub */
.profile-card a {
  display: inline-flex;
  margin: 10px 0;
  padding: 8px 15px;
  font-size: 0.9em;
  color: var(--text-light);
  background-color: var(--primary-color);
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s ease, transform 0.3s, box-shadow 0.3s;
}

.profile-card a:hover {
  opacity: 0.9;
  color: var(--text-light);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}


.profile-card a i {
  font-size: 1.2em;
}

/* Pagination */
.pagination-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination-button {
  padding: 10px 15px;
  border: none;
  background-color: var(--text-light);
  color: var(--primary-color);
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s;
  border: solid 1px var(--primary-color);
}

.pagination-button.active {
  background-color: var(--primary-color);
  color: var(--text-light);
}

.pagination-button:hover:not(.active) {
  background-color: var(--text-light);
}

body .error-message {
  text-align: center;
  margin-top: 20px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  body {
    background-position: left center;
  }
}